# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Tauri build output
src-tauri/target/

# Tauri generated schemas
src-tauri/gen/

# Logs
logs/
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Local env
*.local
.env
.env.local
